DataFrame:
sert à stocker, manipuler et analyser des données tabulaires en Python, un peu comme une table SQL ou une feuille Excel.

In [1]:
import pandas as pd
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [2]:
data = {
    "name": ["Ali", "Sami", "Nour"],
    "age": [22, 25, 21],
    "score": [15.5, 18, 14]
}
df = pd.DataFrame(data)
print (df)

   name  age  score
0   Ali   22   15.5
1  Sami   25   18.0
2  Nour   21   14.0

In [3]:
data = ["Ali", "Sami", "Nour"]
df = pd.DataFrame(data)
print(df)

      0
0   Ali
1  Sami
2  Nour

In [4]:
df = pd.DataFrame(data, columns=["names"]
                  print(df)

SyntaxError: '(' was never closed (3542249173.py, line 1)

In [5]:
df = pd.DataFrame(data, columns=["names"])
print(df)

  names
0   Ali
1  Sami
2  Nour